* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --stripe-color: #000;
  --bg: var(--stripe-color);
  --maincolor: var(--bg);
}
body {
  background-color: black;
}

/* /BACKGORUND VERDE/ */
@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }

  to {
    background-position: 300% 50%, 350% 50%;
  }
}
.hero {
  position: fixed;
  overflow: hidden;
  place-content: center;
  place-items: center;
  height: calc(1vh - 10px);
  --stripes: repeating-linear-gradient(
    100deg,
    var(--stripe-color) 3%,
    transparent 10%,
    transparent 12%,
    var(--stripe-color) 16%
  );
  --rainbow: repeating-linear-gradient(
    100deg,
    #053c15 10%,
    #053c15 15%,
    #053c15 20%,
    #053c15 25%,
    #053c15 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  filter: blur(10px) invert(0%);
  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: smoothBg 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
}

/* FIGURITAS */
.image-mask {
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

.image-mask-banner {
  mask-image: linear-gradient(to bottom, rgb(2, 92, 51) 55%, transparent 100%);
}

.background-gradient {
  background: linear-gradient(to bottom, rgb(0, 99, 51), transparent);
}
/* TITULOS */
.de {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.de h1 {
  position: relative;
  text-shadow: 0px 0px 10px #00c2cb50, 0px 0px 20px #053c15;
  transition: ease 0.3s;
  max-width: 900px;
}

.de:hover h1 {
  color: #fff;
  text-shadow: 0px 0px 10px #00cb2f, 0px 0px 20px #00cb2f;
}

.sombra {
  position: relative;
  text-shadow: 0px 0px 10px #00c2cb50, 0px 0px 20px #053c15;
  transition: ease 0.3s;
  max-width: 900px;
}

.sombra:hover {
  color: #fff;
  text-shadow: 0px 0px 10px #00cb2f, 0px 0px 20px #00cb2f;
}

.de:hover h1::before {
  opacity: 1;
}

/* SPONSORS */
.background-gradient-gray {
  background: linear-gradient(#ffffff1a 0%, #0000 100%);
  transition: all 0.5s;
}

.background-gradient-gray:hover {
  background: linear-gradient(#ffffff2d 0%, #0000 100%);
}

/*  ALBUM MOBILE */
#carousel::-webkit-scrollbar {
  display: none;
}
#carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* HOVER EFFECT */
@font-face {
  font-family: "myFont";
  src: url("./font/Stronger.ttf");
  font-weight: bold;
  font-style: bold;
}

h1,
h2 {
  /* font-family: "myFont", sans-serif; */
  font-weight: bold;
}
.neonText {
  color: #fff;
}
.neonText:hover {
  color: #fff;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 10px #0fa,
    0 0 10px #0fa, 0 0 1px #0fa, 0 0 1px #0fa, 0 0 1px #0fa;
}
