* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}



:root {
  --stripe-color: #000;
  --bg: var(--stripe-color);
  --maincolor: var(--bg);
}


h1,
h2 {
  font-family: "myFont", sans-serif;
  font-weight: bold;
}

/* /BACKGORUND VERDE/ */
@keyframes smoothBg {
  from {
    background-position: 50% 50%, 50% 50%;
  }

  to {
    background-position: 300% 50%, 350% 50%;
  }
}

.hero {
  position: fixed;
  overflow: hidden;
  place-content: center;
  place-items: center;
  height: calc(10vh - 100px);
  /* Ajusta según la altura de tu footer */
  --stripes: repeating-linear-gradient(100deg,
      var(--stripe-color) 3%,
      transparent 10%,
      transparent 12%,
      var(--stripe-color) 16%);
  --rainbow: repeating-linear-gradient(100deg,
      #053c15 10%,
      #053c15 15%,
      #053c15 20%,
      #053c15 25%,
      #053c15 30%);
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  filter: blur(10px) invert(0%);
  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: smoothBg 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
}

/* NAV */
nav a::before,
nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #00cb2f;
  border-right: 3px solid #00cb2f;
  transform: translate(-100%, 50%);
}

nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #00cb2f;
  border-left: 3px solid #00cb2f;
  transform: translate(100%, -50%)
}

nav a:hover:before,
nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

nav a:hover {
  color: #00cb2f;
}

/* FIGURITAS */
.image-mask {
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

.image-mask-banner {
  mask-image: linear-gradient(to bottom,
      rgb(2, 92, 51) 55%,
      transparent 100%);
}

.background-gradient {
  background: linear-gradient(to bottom, rgb(0, 99, 51), transparent);
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  position: relative;
  text-shadow: 0px 0px 10px #00c2cb50, 0px 0px 20px #053c15;
  transition: ease 0.3s;
  max-width: 900px;
}


.title:hover h1 {
  color: #fff;
  text-shadow: 0px 0px 10px #00cb2f, 0px 0px 20px #00cb2f;
}

.sombra {
  position: relative;
  text-shadow: 0px 0px 10px #00c2cb50, 0px 0px 20px #053c15;
  transition: ease 0.3s;
  max-width: 900px;
}

.sombra:hover {
  color: #fff;
  text-shadow: 0px 0px 10px #00cb2f, 0px 0px 20px #00cb2f;
}


.title:hover h1::before {
  opacity: 1;
}

/* SPONSORS */
.background-gradient-gray {
  background: linear-gradient(#ffffff1a 0%, #0000 100%);
  transition: all .5s;
}

.background-gradient-gray:hover {
  background: linear-gradient(#ffffff2d 0%, #0000 100%);
}

/*  ALBUM MOBILE */


#carousel::-webkit-scrollbar {
  display: none;
  /* Ocultar scrollbar en navegadores Webkit (Chrome, Safari) */
}

#carousel {
  -ms-overflow-style: none;
  /* Ocultar scrollbar en IE y Edge */
  scrollbar-width: none;
  /* Ocultar scrollbar en Firefox */
}