@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  font-family: "Georama";
}

.bg-green-800 {
  background-color: #005128;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

#caret {
  display: inline-block;
  width: 1px;
}

.bg-green-800 {
  background-color: #00a54f;
}

.text-green-800 {
  color: #00a54f;
}

.bg-green-900 {
  background-color: #00a54f;
}

/* video{
  max-height: 400px;
  object-position: cover;
} */