@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: white;
}

body {
  font-family: "Georama", serif;
}

.bg-green-800 {
  background-color: #005128;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

#caret {
  display: inline-block;
  width: 1px;
}
